@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>


<p>Hi, My name is Tim Kieltkya and I am a senior at Ohio University. I am orignally from Cleveland, Ohio (on the west side).  I study Accounting and Management Information systems with a French minor.  I love to travel, do anything outdoors, and play trombone! After graduation in May I will be moving to New York City to persue a career in IT audit. 
    .</p>
