@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>


<p>Hi, My name is Tim Kieltkya and I am a senior at Ohio University. I am orignally from Cleveland, Ohio.  I study accounting and management information systems with a French minor.  I love to travel, do anything outdoors, and play trombone!
    .</p>
