@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>


<address>
    30 Station Street<br />
    Athens, Ohio 45701<br />
    <abbr title="Phone">P:</abbr>
    440.781.8109
</address>

<address>
    <strong>Email:</strong>   <a href="tk848615@ohio.edu">tk848615@ohio.edu</a><br />
 
</address>