@{
    ViewBag.Title = "tk848615";
}

<div  style="background-color:black;color:lightblue"class="jumbotron">
 
    <h1>Tim Kieltkya</h1>
    <p class="lead">Welcome!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Where I'm From</h2>
        <p>
            I grew up in Westlake, Ohio.  It is about 20 minutes west of Cleveland. I attended Westlake High School.
        </p>
        <p><a style="background-color:black;color:lightblue" class="btn btn-default" href="https://en.wikipedia.org/wiki/Westlake,_Ohio">Learn more about Westlake &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Currently</h2>
        <p>Right now I am a senior at Ohio University. Most notably, I'm member of the Marching 110 where I play trombone. We get to do a lot of cool things in the band such as NFL halftime performances, the Macy's Thankgivng Day Parade, and traveling to Japan in the Summer of 2020.</p>
        <svg class="bi glyphicon-wrench" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd" /></svg>
        <h2>SD-2 Links</h2>
        @Html.ActionLink("Flights", "Index", "Flights") <br />
        @Html.ActionLink("Airplanes", "Index", "Airplanes") <br />
        @Html.ActionLink("Flyers", "Index", "Flyers")

    </div>
    <div class="col-md-4">
        <h2>Future Prospects</h2>
        <p>This past fall I accepted an offer to Crowe in New York City for IT auditing.  I am super excited for the next phase of my life.</p>
        <p><a style="background-color:black;color:lightblue" class="btn btn-default" href="https://www.linkedin.com/in/timkieltyka">LinkedIn &raquo;</a></p>
    </div>
</div>